@import './base.css';

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
  transition: all 0.8s ease-out;
  background-color: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  background-color: #FFF;
  color: #333333;
  font-family: 'Oxygen', sans-serif;
}

a {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333333;
  font-family: 'Heebo', sans-serif;
}

a:hover {
  color: #333333;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: calc(3rem + 0.8vw);
}

.link-div {
  position: relative;
  display: inline-block;
}

.link::before {
  content: "";
  background: linear-gradient(269.82deg, #47A8BD 0%, #DAEEF2 55.17%);
  height: 4px;
  width: 50%;
  position: absolute;
  top: 108%;
  transition: width 450ms cubic-bezier(0.165, 0.84, 0.44, 1);    
  -moz-transition: width 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link:hover:before {
  width: 100%;
}

.page {
  height: 100vh;
  width: 100vw;
}

.z-1 {
  position: relative;
  z-index: 1;
}

.route-name {
  font-family: 'Grandstander', sans-serif;
}

.route-name:before {
  content: "";
  background: #47A8BD;
  height: 10px;
  position: absolute;
  width: 50%;
  top: 85%;
}

.blob {
  position: absolute;
  opacity: 0.3;
  width: 300px;
  aspect-ratio: 1/1;
  /* animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
    alternate forwards; */
  filter: blur(40px);
  /* z-index: -1; */
  background: linear-gradient(
    47deg,
    #47A8BD 21%,
    #47A8BD 67%,
    #47A8BD 81%
  );
}

.blob-1 {
  top: 0;
  right: 0;
  animation: move-bg-1 10s ease infinite
    alternate forwards;
}

.blob-2 {
  bottom: 5rem;
  left: 0;
  animation: move-bg-2 10s ease infinite
    alternate forwards;
}

@keyframes move-bg-1 {
  0% {
    transform: translateZ(20%);
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateY(80%);
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(100%);
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}

@keyframes move-bg-2 {
  0% {
    transform: translateZ(80%);
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  25% {
    transform: translateX(40%);
  }
  50% {
    transform: translateY(0px);
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
  }
  75% {
    transform: translateX(40%);
  }
  100% {
    transform: translate(0);
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: calc(2rem + 0.8vw);
  }
}
